<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Godot472" value="%USERPROFILE%\Program\Godot_v4.7.2-stable_mono_win64\GodotSharp\Tools\nupkgs" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
